# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
vv/

# Django
mysite/db.sqlite3
mysite/media/
mysite/staticfiles/

# Local env/config
.env
.env.*

# IDE
.idea/
.vscode/
