{% extends "base.html" %}

{% block title %}
Suas Postagens
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'blog:homepage' %}" class="btn btn-outline-secondary">↩️ Voltar</a>
        <a href="{% url 'blog:create_post' %}" class="btn btn-primary ms-2">➕ Nova Postagem</a>
       </div>
   
    <div class="mb-4 text-end">

    </div>

    <div class="row justify-content-md-center pt-5">
        <div class="col-md-8">
            <h2 class="mb-4">Suas Postagens</h2>

            <h3 class="text-primary">Publicados</h3>
            <ul class="list-group mb-4">
                {% for post in posts_published %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'blog:post_single' post.slug %}" class="fw-bold text-decoration-none">
                        {{ post.title }}
                    </a>
                    <div>
                        <a href="{% url 'blog:edit_post' post.slug %}" class="btn btn-sm btn-outline-primary">✏️ Editar</a>
			<a href="{% url 'blog:post_delete' post.pk %}?next={% url 'blog:user_posts' %}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Tem certeza que deseja deletar esta postagem?');">🗑️ Deletar</a>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">Você ainda não publicou nenhum post.</li>
                {% endfor %}
            </ul>

            <h3 class="text-secondary">Rascunhos</h3>
            <ul class="list-group">
                {% for post in posts_drafts %}
                <li class="list-group-item d-flex justify-content-between align-items-center text-muted">
                    <a href="{% url 'blog:edit_post' post.slug %}" class="fw-bold text-decoration-none">
                        {{ post.title }} (rascunho)
                    </a>
                    <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-sm btn-outline-danger">🗑️ Deletar</a>
                </li>
                {% empty %}
                <li class="list-group-item">Você não tem rascunhos.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
